@import bourbon

html,body
    width: 100%

    *
        margin: 0
        padding: 0
        +box-sizing(border-box)

    nav.carl-nav
        position: fixed
        z-index: 100
        top: 0
        left: 0
        right: 0
        background:
            color: rgba(0,0,0,0)
        font:
            family: 'Orbitron', sans-serif

        .right-side
            .btn-topbar
                background-color: transparent
                border: 1px solid #fff
                color: #fff

                &:hover
                    background-color: #fff
                    color: #000000
                    border: 1px solid #000000

    .banner
        // background-image: url(../images/source-code-2.jpeg)
        background-image: url(../images/gloomy2.jpg)
        height: 560px
        width: 100%
        background:
            repeat: no-repeat
            size: cover
            position: center

        div.cover
            width: 100%
            height: 100%
            position: relative
            background:
                color: rgba(0, 0, 0, 0.5)     

            div.cloud
                height: 500px
                width: 10000px
                opacity: .3
                position: absolute
                display: inline-block
                top: 60px
                z-index: 1
                @include animation(animate-cloud 60s infinite linear) 
                background: 
                    image: url(../images/fog01.png)
                    // position: center center
                    // size: 500px 200px
                    // repeat-y: no-repeat

            div.jumbotron
                background: transparent
                text-align: center
                color: #fff
                position: absolute
                top: 0
                width: 100%
                z-index: 10
                font-family: 'Orbitron', sans-serif
                letter-spacing: 5px
                text-shadow: -2px 2px rgba(67, 66, 66, 0.7)
                padding-top: 210px
                // +transition(all 0.3s linear)
                // +display(flex)

    .offset-div
        width: 100%
        position: relative
        z-index: 10
        margin:
            top: -150px

        .dp-container
            width: 280px
            height: 280px
            margin: auto
            border:
                radius: 300px
            background: 
                color: #fff
            padding: 10px

            img
                width: 100%
                height: 100%
                border-radius: 300px
    
    // #about 
    //     .container
    //         width: 100%
    //         height: 300px
    //         margin:
    //             top: 50px
    //         +display(flex)
    //         +justify-content(center)

    //         .left-content
    //             width: 70%
    //             height: 100%
    //             padding: 20px
    //             text-align: justify

    //         .right-content
    //             width: 30%
    //             height: 20%
    //             padding: 10px
                
    //             img
    //                 width: 100%

    #about
        .me-container
            max-width: 1140px
            margin: 10px auto
            padding: 10px
            text-align: center
            +display(flex)
            +justify-content(center)
            
            .me-tabs
                margin: 0 auto
                padding: 20px 30px
                border: 1px solid red
                    radius: 5px
                height: 300px

    #skills
        .container
            max-width: 1140px
            margin: 10px auto
            padding: 10px
            display: block
            // +display(flex)

            .my-skills
                width: 20%
                height: 200px
                border: 1px solid blue
                display: inline-block
                margin: 0¸




@include keyframes(animate-cloud)
  0%
    background-position: 0 0
  100%
    background-position: 1000px center
