html, body {
    width: 100%;
}

html *, body * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 100;
}

html h1, body h1 {
    font-size: 60px;
    letter-spacing: 3px;
}

html nav.carl-nav, body nav.carl-nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(28, 36, 50, 0.5);
    font-family: 'Orbitron', sans-serif;
}

html nav.carl-nav.dark, body nav.carl-nav.dark {
    background-color: #1c2432;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    transition: 0.5s all linear;
}

html nav.carl-nav .right-side .btn-topbar, body nav.carl-nav .right-side .btn-topbar {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

html nav.carl-nav .right-side .btn-topbar:hover, body nav.carl-nav .right-side .btn-topbar:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

html .container, body .container {
    max-width: 1140px;
    margin: 10px auto;
}

html .row, body .row {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

html .row .col, html .row .col-3, html .row .col-6, html .row .col-9, html .row .col-12, body .row .col, body .row .col-3, body .row .col-6, body .row .col-9, body .row .col-12 {
    padding-left: 0;
    padding-right: 0;
}

html .banner, body .banner {
    background-image: url(../images/gloomy2.jpg);
    height: 650px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html .banner div.cover, body .banner div.cover {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

html .banner div.cover div.cloud, body .banner div.cover div.cloud {
    height: 500px;
    width: 10000px;
    opacity: .3;
    position: absolute;
    display: inline-block;
    top: 150px;
    z-index: 1;
    -webkit-animation: animate-cloud 60s infinite linear;
    -moz-animation: animate-cloud 60s infinite linear;
    animation: animate-cloud 60s infinite linear;
    background-image: url(../images/fog01.png);
}

html .banner div.cover div.jumbotron, body .banner div.cover div.jumbotron {
    background: transparent;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    text-shadow: -2px 2px rgba(67, 66, 66, 0.7);
    padding-top: 210px;
}

html .offset-div, body .offset-div {
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: -150px;
}

html .offset-div .dp-container, body .offset-div .dp-container {
    width: 280px;
    height: 280px;
    margin: auto;
    border-radius: 300px;
    background-color: #ffffff;
    padding: 10px;
}

html .offset-div .dp-container img, body .offset-div .dp-container img {
    width: 100%;
    height: 100%;
    border-radius: 300px;
}

html #about-me .me, html #experience .me, body #about-me .me, body #experience .me {
    padding: 10px;
    text-align: center;
}

html #about-me .me .me-tabs, html #experience .me .me-tabs, body #about-me .me .me-tabs, body #experience .me .me-tabs {
    margin: 0 auto;
    padding: 20px 30px;
    display: block;
}

html #about-me .me .me-tabs h1, html #experience .me .me-tabs h1, body #about-me .me .me-tabs h1, body #experience .me .me-tabs h1 {
    margin-bottom: 30px;
}

html #about-me .me .me-tabs p, html #experience .me .me-tabs p, body #about-me .me .me-tabs p, body #experience .me .me-tabs p {
    text-align: justify;
    line-height: 30px;
}

html #about-me .me .me-tabs .experience-content, html #experience .me .me-tabs .experience-content, body #about-me .me .me-tabs .experience-content, body #experience .me .me-tabs .experience-content {
    display: table;
    text-align: left;
    margin: 20px 0;
}

html #about-me .me .me-tabs .experience-content div, html #experience .me .me-tabs .experience-content div, body #about-me .me .me-tabs .experience-content div, body #experience .me .me-tabs .experience-content div {
    display: table-cell;
    vertical-align: text-top;
    height: 100%;
}

html #about-me .me .me-tabs .experience-content div.title, html #experience .me .me-tabs .experience-content div.title, body #about-me .me .me-tabs .experience-content div.title, body #experience .me .me-tabs .experience-content div.title {
    width: 30%;
    vertical-align: middle;
}

html #about-me .me .me-tabs .experience-content div.title h3, html #experience .me .me-tabs .experience-content div.title h3, body #about-me .me .me-tabs .experience-content div.title h3, body #experience .me .me-tabs .experience-content div.title h3 {
    font-size: 1.5em;
}

html #about-me .me .me-tabs .experience-content div.title h4, html #experience .me .me-tabs .experience-content div.title h4, body #about-me .me .me-tabs .experience-content div.title h4, body #experience .me .me-tabs .experience-content div.title h4 {
    color: #696767;
    font-size: 1.2em;
}

html #about-me .me .me-tabs .experience-content div.title .year-span, html #experience .me .me-tabs .experience-content div.title .year-span, body #about-me .me .me-tabs .experience-content div.title .year-span, body #experience .me .me-tabs .experience-content div.title .year-span {
    color: #7b7b7b;
    font-size: 1em;
}

html #about-me .me .me-tabs .experience-content div.description, html #experience .me .me-tabs .experience-content div.description, body #about-me .me .me-tabs .experience-content div.description, body #experience .me .me-tabs .experience-content div.description {
    border-left: 1px solid #443E4C;
    padding: 10px 0 10px 10px;
}

html #services, body #services {
    text-align: center;
    background-color: #B1CACC;
    color: #ffffff;
    padding: 50px 0 100px;
}

html #services .container div.left-side img, body #services .container div.left-side img {
    width: 95%;
}

html #services .container div.right-side, body #services .container div.right-side {
    text-align: left;
}

html #services .container div.right-side ul li, body #services .container div.right-side ul li {
    font-size: 2em;
    line-height: 60px;
    list-style: none;
    padding: 10px 0;
}

html #services .container div.right-side ul li:before, body #services .container div.right-side ul li:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin-right: 10px;
}

html #skills, body #skills {
    text-align: center;
    background-color: #ffffff;
    padding-top: 50px;
}

html #skills .container, body #skills .container {
    padding: 10px;
    display: block;
}

html #skills .container .my-skills, body #skills .container .my-skills {
    height: 230px;
    display: inline-block;
    margin: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
}

html #skills .container .my-skills img, body #skills .container .my-skills img {
    height: 80%;
}

html #skills .container .my-skills div, body #skills .container .my-skills div {
    position: block;
}

html #skills .container .my-skills .rate .fa-star, body #skills .container .my-skills .rate .fa-star {
    color: #1C2432;
}

html #skills .container .my-skills .rate .fa-star.checked, body #skills .container .my-skills .rate .fa-star.checked {
    color: #E27338;
}

html footer, body footer {
    width: 100%;
    min-height: 100px;
    background-color: #1c2432;
    padding: 20px;
}

html footer #contact-me, body footer #contact-me {
    color: #ffffff;
    padding: 10px;
}

html footer #contact-me p, body footer #contact-me p {
    padding-left: 20px;
}

html footer #contact-me a, body footer #contact-me a {
    color: #ffffff;
}

/* 575px 767px 991px 1199px */
@media only screen and (max-width: 991px) {
    .container {
        max-width: 1140px;
        margin: 10px auto;
    }

    #about-me .container, #experience .container {
        max-width: 95% !important;
        margin: 10px auto;
    }
}

@-webkit-keyframes animate-cloud {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1000px center;
    }
}

@-moz-keyframes animate-cloud {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1000px center;
    }
}

@keyframes animate-cloud {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1000px center;
    }
}
