body nav.carl-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    font-family: 'Orbitron', sans-serif;
}

body nav.carl-nav .right-side .btn-topbar {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

body nav.carl-nav .right-side .btn-topbar:hover {
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
}

body .banner {
    background-image: url(../images/source-code-2.jpeg);
    height: 560px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body .banner div.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

body .banner div.cover div.jumbotron {
    background: transparent;
    text-align: center;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    text-shadow: -2px 2px rgba(67, 66, 66, 0.7);
    padding-top: 210px;
}

body .offset-div {
    width: 100%;
    margin-top: -150px;
}

body .offset-div .dp-container {
    width: 280px;
    height: 300px;
    margin: auto;
    border-radius: 300px;
    background-color: #fff;
    padding: 10px;
}

body .offset-div .dp-container img {
    width: 100%;
    height: 100%;
    border-radius: 300px;
}

body #after-banner {
    padding: 20px;
    background-color: #eae6cc;
}

body #services {
    min-height: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

body #about .container {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

body #about .container .left-content {
    width: 70%;
    height: 100%;
    padding: 20px;
    text-align: justify;
}

body #about .container .right-content {
    width: 30%;
    height: 20%;
    padding: 10px;
}

body #about .container .right-content img {
    width: 100%;
}
